<%= form_with(model: @employee) do |form| %>
 <% if @employee.errors.any? %>
     <div id="error_explanation">
       <h2>
         <%= pluralize(@employee.errors.count, "error") %> prohibited
         this employee from being saved:
       </h2>
       <ul>
         <% @employee.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
  <% end %>
  <table>    
   <tr>
    <td>
    <%= form.label :name %>
     </td>
      <td>
    <%= form.text_area :name %>
    </td>
    </tr>
  
    <tr>
      <td>
    <%= form.label :department %>
      </td>
       <td>
    <%= form.text_area :department %>
      </td>
    </tr>

    <tr>
      <td></td><td></td>
      <td>  
    <%= form.submit %>
      </td>
    </tr>

  </table>

<% end %>





