 <h1>Listing of Employees</h1>
 
<table>
  <tr>
    <th>name</th>
    <th>department</th>
  </tr>
 
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.department %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td><td></td><td></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td><td></td><td></td>
      <td><%= link_to 'Destroy', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td>
        <% if employee.employee_detail %>
          <%= link_to 'Employee Detail', employee_detail_path(employee.employee_detail) %>
        <% else %>
          <%= link_to 'New Employee Detail', new_employee_detail_path(employee_id: employee.id) %>
        <% end %>
      
            <%= link_to 'Employee Attendances', employee_attendances_path(employee_id: employee.id) %>
             <%= link_to 'New Employee Attendance', new_employee_attendance_path(employee_id: employee.id) %>   
             <%= link_to 'New Leave Application', new_employee_leafe_path(employee_id: employee.id) %>  
        </td>
    </tr>
  <% end %>
</table> 