<!-- <h1>Listing of Employees</h1>
 
<table>
  <tr>
    <th>name</th>
    <th>photo</th>
    <th>age</th>
    <th>marriage_status</th>
    <th>state</th>
    <th>address</th>
  </tr>
 
  <% @employeeDetails.each do |employeeDetail| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employeeDetail.photo %></td>
      <td><%= employee.age %></td>
      <td><%= employee.marriage_status %></td>
      <td><%= employee.state %></td>
      <td><%= employee.address %></td>
      <td><%= link_to 'Show', employee_detail_path(employeeDetail) %></td><td></td><td></td>
       <td><%= link_to 'Edit', edit_employee_detail_path(employeeDetail) %></td><td>
    </tr>
  <% end %>
</table> -->